# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [486]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json 
from pprint import pprint
# Import API key
gkey = "AIzaSyCohVMjdzvDIH8flY6cKEjzrS6zJ7vDfMo"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [487]:
city_data = pd.read_csv('../weatherPy/City_data.csv')
city_data.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness (%),Wind Speed (m/s),Country,Date
0,Atuona,-9.80,-139.03,299.33,78,11,9.96,PF,1596041118
1,Albany,42.60,-73.97,304.26,33,6,2.57,US,1596040879
2,Trairi,-3.28,-39.27,303.04,51,0,6.38,BR,1596041118
3,Mataura,-46.19,168.86,281.88,90,100,1.63,NZ,1596041227
4,Qaanaaq,77.48,-69.36,279.09,73,73,0.90,GL,1596041227

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [488]:

lat = city_data['Lat'].tolist()
long = city_data['Long'].tolist()
coordinates = list(zip(lat, long))
coordinates

[(-9.8, -139.03),
 (42.6, -73.97),
 (-3.28, -39.27),
 (-46.19, 168.86),
 (77.48, -69.36),
 (-42.88, 147.33),
 (-54.8, -68.3),
 (71.29, -156.79),
 (18.22, -63.06),
 (-28.78, 32.04),
 (-21.21, -159.78),
 (62.46, -114.35),
 (35.2, 26.25),
 (-5.67, 132.75),
 (-37.62, -73.65),
 (41.37, -73.41),
 (-13.54, 23.1),
 (-21.36, 55.77),
 (20.2, 1.01),
 (13.22, -59.52),
 (64.38, -173.3),
 (-28.55, 16.43),
 (-23.12, -134.97),
 (-34.42, 19.23),
 (71.92, 114.08),
 (38.5, 48.67),
 (-33.93, 18.42),
 (71.69, 128.87),
 (-15.53, 167.17),
 (22.08, -159.32),
 (59.7, 30.79),
 (71.97, 102.5),
 (-46.28, 169.85),
 (-38.0, -57.56),
 (52.98, 116.92),
 (58.81, -122.7),
 (42.1, -79.24),
 (38.52, -28.7),
 (-20.21, 57.76),
 (-43.3, -65.1),
 (18.82, 82.72),
 (62.8, 43.25),
 (69.38, 178.42),
 (-33.59, 22.2),
 (43.2, 51.65),
 (-33.65, 115.33),
 (-24.87, 113.63),
 (57.79, -152.41),
 (9.51, -7.57),
 (57.87, 11.98),
 (-0.74, -90.35),
 (-26.65, 15.16),
 (40.39, -5.76),
 (-53.15, -70.92),
 (35.13, 140.3),
 (-20.34, 57.76),
 (41.76, 86.15),
 (22.89, -109.91),
 (-13.81, -41.3),
 (43.32, 145.57),
 (51.38, 1.39),
 (42.27, -72.67),
 (25.52, 90.22),
 (-20.52, 57.52),
 (-28.0, 153.43),
 (-23.86, 35.38),
 (5.95, 80.54),
 (21.28, -88.27),
 (-13.7, -76.22),
 (-21.2, -175.2),
 (-33.87, 121.9),
 (45.76, 106.27),
 (17.07, -89.15),
 (1.24, 111.46),
 (50.68, 156.12),
 (69.7, 170.31),
 (-30.18, -50.21),
 (30.81, 73.45),
 (-0.6, 73.08),
 (-8.26, -49.26),
 (21.39, -158.15),
 (-18.59, -39.73),
 (-34.53, 20.04),
 (65.42, -52.9),
 (70.63, 147.92),
 (35.73, 140.83),
 (-24.79, -50.01),
 (-28.77, 114.6),
 (-34.73, 135.87),
 (54.05, 122.9),
 (50.02, 35.98),
 (41.05, -0.13),
 (50.79, 35.77),
 (37.73, -25.67),
 (-2.92, -39.92),
 (-16.62, -72.71),
 (-5.2, -35.46),
 (54.48, 53.47),
 (-20.41, 57.7),
 (72.79, -56.15),
 (66.32, -179.17),
 (27.87, 81.5),
 (3.07, 172.79),
 (7.37, 12.65),
 (57.13, 73.83),
 (26.54, -77.06),
 (-3.75, -73.25),
 (-16.48, -151.75),
 (43.35, 12.57),
 (-42.78, 147.06),
 (69.45, -133.04),
 (41.59, 9.28),
 (-11.21, 13.84),
 (-9.44, 147.18),
 (-19.55, 169.27),
 (60.75, -137.51),
 (65.28, -126.83),
 (62.23, -6.59),
 (4.71, 6.79),
 (61.99, -49.67),
 (10.37, 10.73),
 (11.0, 122.67),
 (22.29, 114.16),
 (14.08, 98.2),
 (-22.97, -42.03),
 (68.75, 161.3),
 (34.52, 50.0),
 (-8.93, 125.41),
 (33.73, 135.98),
 (-6.98, -34.83),
 (33.97, 36.66),
 (63.9, 122.76),
 (15.75, 99.79),
 (-35.62, 174.5),
 (43.44, 45.77),
 (-41.87, -73.82),
 (45.52, -122.68),
 (-19.98, 57.61),
 (3.52, 15.05),
 (24.34, 124.16),
 (60.14, -45.24),
 (28.72, 78.28),
 (48.97, 140.29),
 (73.51, 80.55),
 (-33.7, -53.46),
 (-46.6, 168.33),
 (13.6, 26.69),
 (68.05, 39.51),
 (-0.91, 122.88),
 (5.41, 100.34),
 (28.88, 116.43),
 (-40.81, -63.0),
 (25.29, 60.64),
 (6.37, 126.17),
 (34.88, -76.9),
 (-3.58, -59.13),
 (13.18, 32.74),
 (36.83, -2.64),
 (19.73, -155.09),
 (55.74, -97.86),
 (66.77, 123.37),
 (59.58, 151.28),
 (32.67, -17.1),
 (29.95, -91.75),
 (-1.2, -46.02),
 (27.32, -112.28),
 (37.1, -113.58),
 (30.45, 115.26),
 (55.75, 49.65),
 (-17.8, -63.17),
 (-22.09, -70.2),
 (65.61, -37.64),
 (-33.59, 26.89),
 (55.1, -105.28),
 (70.47, -68.59),
 (-42.77, -65.04),
 (78.22, 15.64),
 (39.76, -105.22),
 (-3.22, 40.12),
 (22.57, 59.53),
 (54.99, 62.54),
 (-5.79, -35.21),
 (38.42, 77.24),
 (42.79, -96.17),
 (-2.67, 141.3),
 (7.77, -72.22),
 (41.14, -73.36),
 (-21.48, -56.14),
 (66.15, -65.71),
 (24.69, 46.72),
 (-3.8, 102.27),
 (11.28, -15.83),
 (-32.03, -52.1),
 (20.7, -105.2),
 (19.22, -104.7),
 (-6.22, -57.75),
 (55.46, -4.63),
 (8.64, 99.37),
 (66.04, -17.34),
 (25.02, 118.29),
 (8.57, 0.98),
 (39.27, 141.88),
 (5.88, -57.13),
 (60.92, -46.05),
 (36.13, 68.71),
 (3.38, -59.8),
 (43.93, 141.64),
 (42.06, 59.38),
 (-4.76, 11.86),
 (5.66, -53.78),
 (-25.24, 130.99),
 (32.45, -81.78),
 (36.06, 14.2),
 (36.73, -91.85),
 (55.85, 32.27),
 (-4.55, 18.6),
 (63.05, 179.32),
 (-31.63, -60.7),
 (-6.84, -79.93),
 (18.39, 42.45),
 (48.96, -65.5),
 (-8.14, 159.59),
 (51.24, 33.2),
 (52.42, 136.49),
 (51.07, -1.8),
 (42.24, 125.72),
 (-33.02, 27.91),
 (-3.14, -58.44),
 (-10.41, -36.43),
 (1.0, -52.0),
 (69.22, -51.1),
 (57.83, 29.96),
 (41.0, -115.5),
 (13.08, 109.3),
 (34.67, 138.95),
 (36.29, -76.25),
 (-38.38, 142.48),
 (-45.42, 167.72),
 (-0.22, 100.63),
 (61.01, 36.45),
 (14.9, -24.5),
 (-33.92, 25.57),
 (-35.33, -72.42),
 (33.75, 45.55),
 (-27.37, 29.88),
 (20.89, -156.47),
 (53.2, -8.57),
 (57.05, -135.33),
 (38.89, -76.51),
 (-3.02, -41.14),
 (34.64, -120.46),
 (-14.25, 129.55),
 (5.88, -10.05),
 (28.45, 104.72),
 (62.53, 155.8),
 (3.17, 113.03),
 (54.32, -130.32),
 (3.0, 99.82),
 (-45.58, -72.07),
 (51.2, 136.67),
 (-16.92, 145.77),
 (-3.74, -38.65),
 (-33.01, 17.94),
 (60.1, 19.93),
 (-23.65, -70.4),
 (-35.17, 173.17),
 (51.23, -101.36),
 (-2.57, 150.8),
 (22.92, 93.68),
 (52.27, 79.17),
 (-38.27, 141.97),
 (22.04, 88.32),
 (39.47, 3.15),
 (-5.22, 145.8),
 (-21.37, 55.62),
 (60.82, -115.8),
 (16.73, 82.22),
 (-21.64, -41.05),
 (-9.45, -46.3),
 (-3.41, -39.03),
 (60.72, -46.03),
 (50.72, 136.63),
 (42.85, 44.0),
 (38.73, -27.07),
 (64.5, -165.41),
 (39.12, 23.72),
 (38.08, 138.43),
 (10.27, -75.44),
 (4.77, 33.59),
 (27.98, -114.06),
 (-45.87, 170.5),
 (55.97, 25.58),
 (51.23, -58.65),
 (5.89, 95.32),
 (34.39, 67.02),
 (-44.7, 169.15),
 (-28.29, -53.5),
 (49.88, -119.49),
 (40.6, -124.16),
 (38.78, 63.88),
 (51.02, 116.52),
 (-38.72, -62.27),
 (59.06, 80.86),
 (40.25, -103.8),
 (-41.41, 175.52),
 (17.49, 44.13),
 (63.44, -20.27),
 (3.08, -59.95),
 (67.8, 130.41),
 (-17.04, -39.53),
 (61.28, 108.01),
 (33.73, -84.92),
 (47.41, 42.76),
 (7.32, 9.0),
 (65.58, -171.0),
 (64.18, -51.72),
 (68.35, -133.72),
 (-5.86, 144.23),
 (5.5, 120.88),
 (61.03, 76.11),
 (50.24, 127.49),
 (-3.75, 103.64),
 (-34.58, 150.86),
 (53.8, 64.15),
 (57.11, 50.0),
 (62.58, 6.13),
 (29.97, 40.21),
 (22.24, 68.97),
 (64.84, -147.72),
 (-23.13, 150.73),
 (1.17, 108.97),
 (27.91, -15.54),
 (18.45, -78.17),
 (-5.25, -38.13),
 (4.14, 96.13),
 (10.44, 45.01),
 (46.33, 132.21),
 (5.95, -56.98),
 (26.27, 87.82),
 (-28.06, -50.94),
 (55.1, 14.71),
 (-15.2, 12.15),
 (68.22, -135.01),
 (-7.99, 38.76),
 (5.97, 8.71),
 (-9.91, -63.04),
 (55.43, -116.49),
 (-21.34, 55.48),
 (18.65, -74.12),
 (12.71, 104.89),
 (65.82, 87.98),
 (54.78, -127.17),
 (10.57, 72.64),
 (-11.1, -77.61),
 (12.25, -0.62),
 (62.11, 10.63),
 (30.42, 103.46),
 (59.12, 159.97),
 (-35.35, 150.47),
 (9.29, 105.72),
 (63.29, 18.72),
 (5.35, 115.75),
 (-30.32, 149.78),
 (51.7, -113.27),
 (20.86, 92.31),
 (0.54, 123.06),
 (18.24, 104.21),
 (67.67, 12.69),
 (53.6, 91.39),
 (9.7, 10.27),
 (55.72, 93.76),
 (0.8, 127.4),
 (30.57, 79.57),
 (15.0, -83.23),
 (48.68, 24.41),
 (63.2, 75.45),
 (55.82, 45.03),
 (23.17, -97.95),
 (-0.89, 119.87),
 (-1.77, -55.87),
 (34.98, 139.87),
 (48.93, -125.55),
 (-32.72, 152.15),
 (-23.7, 133.88),
 (-3.4, 38.36),
 (68.53, 146.42),
 (64.86, 11.24),
 (45.07, 24.03),
 (30.48, -115.95),
 (48.48, 18.72),
 (63.92, 24.97),
 (49.52, 39.57),
 (-36.31, -57.68),
 (36.72, 15.09),
 (-4.15, 13.55),
 (8.48, -13.23),
 (58.13, 68.59),
 (12.22, 4.38),
 (39.18, -84.53),
 (-31.39, -58.02),
 (31.76, 25.09),
 (-2.04, -45.96),
 (11.67, 92.75),
 (4.25, 103.42),
 (9.11, 18.35),
 (47.67, -52.73),
 (36.21, -86.29),
 (30.12, 55.12),
 (-3.94, 119.78),
 (36.37, 6.61),
 (71.0, 24.66),
 (4.93, -52.33),
 (54.77, 42.72),
 (50.62, 26.23),
 (9.34, 2.63),
 (50.68, 36.55),
 (-2.99, -65.11),
 (6.19, -67.49),
 (33.08, -16.33),
 (15.85, -97.07),
 (-16.7, -151.02),
 (69.49, 88.4),
 (-20.23, 164.02),
 (26.59, 12.78),
 (48.68, 71.64),
 (5.03, 21.21),
 (25.05, 78.43),
 (45.62, -61.35),
 (30.95, 113.55),
 (10.4, -75.51),
 (8.68, -8.63),
 (28.37, 129.48),
 (49.91, 24.61),
 (-2.65, 10.0),
 (30.38, 67.73),
 (0.53, 72.93),
 (-6.75, 23.95),
 (54.25, 12.47),
 (-22.67, 167.48),
 (-7.58, 31.27),
 (4.95, -6.08),
 (-34.0, 24.73),
 (66.83, 70.83),
 (43.57, -7.25),
 (58.04, 38.84),
 (45.68, -111.04),
 (53.5, -112.05),
 (38.42, -121.42),
 (6.12, 81.12),
 (5.97, 80.42),
 (-4.33, -45.17),
 (-28.19, 23.54),
 (-4.67, -73.52),
 (42.98, 132.4),
 (44.74, -81.13),
 (-22.96, 14.51),
 (55.51, 31.85),
 (-18.06, 13.84),
 (-2.02, 147.27),
 (-7.71, -66.98),
 (53.92, 102.04),
 (42.43, 130.64),
 (60.73, 77.59),
 (-29.95, -71.34),
 (-34.92, -57.95),
 (69.3, 139.9),
 (-4.35, 152.26),
 (29.03, 21.55),
 (-4.24, 142.84),
 (-14.27, 50.17),
 (41.43, 48.43),
 (54.56, 40.87),
 (39.05, -27.98),
 (17.02, 54.09),
 (26.19, -97.7),
 (46.43, 26.4),
 (18.82, 95.22),
 (-34.48, -54.33),
 (13.56, 7.05),
 (-3.6, 26.67),
 (-34.05, 23.37),
 (26.11, -97.49),
 (-0.95, 100.35),
 (-45.87, -67.5),
 (-8.16, -70.35),
 (66.71, 27.43),
 (8.08, 77.57),
 (-7.94, 110.25),
 (67.45, 153.68),
 (-28.3, -54.26),
 (61.95, 159.23),
 (56.79, 105.77),
 (33.64, 42.83),
 (9.41, 45.06),
 (-31.33, 27.85),
 (-3.14, 142.35),
 (43.41, -124.22),
 (42.8, 93.45),
 (52.61, 1.73),
 (56.13, 101.61),
 (21.09, -87.45),
 (48.82, 20.37),
 (42.78, -9.06),
 (-8.84, 13.23),
 (70.03, 20.97),
 (21.94, -79.17),
 (-25.97, 32.59),
 (40.13, 63.45),
 (29.55, 66.02),
 (24.8, 125.28),
 (39.47, -118.78),
 (20.93, -17.03),
 (64.89, -23.71),
 (24.4, 71.63),
 (51.97, 59.9),
 (-4.97, 39.83),
 (37.2, -94.35),
 (32.09, 121.07),
 (38.48, 47.07),
 (42.25, -75.83),
 (39.36, -9.38),
 (50.1, -91.92),
 (11.59, 37.39),
 (11.47, 49.87),
 (40.28, 97.2),
 (6.3, -10.8),
 (58.21, -6.39),
 (52.15, -6.99),
 (47.82, 35.18),
 (16.33, -94.07),
 (46.88, -96.9),
 (-13.85, 136.42),
 (50.08, 12.37),
 (4.95, 23.92),
 (43.65, 111.98),
 (18.22, 42.51),
 (20.05, 110.34),
 (50.7, -127.42),
 (-33.13, -64.35),
 (12.77, 120.78),
 (63.73, 8.83),
 (40.29, 38.42),
 (13.81, -10.83),
 (14.92, -23.51),
 (6.62, 73.07),
 (63.92, 127.47),
 (37.72, -25.43),
 (66.94, -53.67),
 (30.33, 10.85),
 (44.65, -63.57),
 (52.78, -111.85),
 (21.33, 74.57),
 (-1.83, -44.87),
 (14.92, -23.51),
 (-15.23, -59.34),
 (13.77, 109.23),
 (56.17, 91.82),
 (-22.47, -68.93),
 (63.13, 10.3),
 (7.04, 134.26),
 (-20.33, -40.29),
 (65.7, 82.47),
 (70.37, 31.11),
 (-16.16, 33.59),
 (63.75, -68.51),
 (13.48, -88.18),
 (40.56, 65.69),
 (32.22, 130.75),
 (-3.67, 152.43),
 (49.69, 83.29),
 (20.15, 92.9),
 (54.43, -124.25)]

In [490]:

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)


# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=city_data['Humidity'], 
                                 dissipating=False, max_intensity=150,
                                 point_radius=4)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig
#add markers
# markers = gmaps.marker_layer(coordinates)
# fig.add_layer(markers)
# fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [491]:
city_data.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness (%),Wind Speed (m/s),Country,Date
0,Atuona,-9.80,-139.03,299.33,78,11,9.96,PF,1596041118
1,Albany,42.60,-73.97,304.26,33,6,2.57,US,1596040879
2,Trairi,-3.28,-39.27,303.04,51,0,6.38,BR,1596041118
3,Mataura,-46.19,168.86,281.88,90,100,1.63,NZ,1596041227
4,Qaanaaq,77.48,-69.36,279.09,73,73,0.90,GL,1596041227

In [492]:
#ideal max temperature is less than 298k degrees, wind speed less than 5 m/s, cloudiness less than 10%, humidity less than 40%
ideal_weather = city_data[city_data['Wind Speed (m/s)']<5]
ideal_weather = ideal_weather[ideal_weather['Max Temp']<298]
ideal_weather = ideal_weather[ideal_weather['Humidity']<40]
ideal_weather = ideal_weather[ideal_weather['Cloudiness (%)']<10]              
ideal_weather = ideal_weather.reset_index() 
ideal_weather.head(12)

,index,City,Lat,Long,Max Temp,Humidity,Cloudiness (%),Wind Speed (m/s),Country,Date
0,16,Zambezi,-13.54,23.10,292.77,33,0,1.42,ZM,1596041230
1,210,Yulara,-25.24,130.99,283.15,25,0,3.10,AU,1596041268
2,217,Santa Fe,-31.63,-60.70,288.15,27,0,0.89,AR,1596041269
3,251,Port Keats,-14.25,129.55,289.94,30,0,4.23,AU,1596041276
4,294,Panjāb,34.39,67.02,288.99,33,0,2.76,AF,1596041284
5,383,Alice Springs,-23.70,133.88,278.15,32,0,2.10,AU,1596041093
6,457,Opuwo,-18.06,13.84,293.41,24,0,4.06,NaN,1596041313
7,557,Calama,-22.47,-68.93,292.15,1,0,1.00,CL,1596041283

In [493]:
ideal_coordinates=ideal_weather[['Lat', 'Long']]
ideal_coordinates

     Lat    Long
0 -13.54   23.10
1 -25.24  130.99
2 -31.63  -60.70
3 -14.25  129.55
4  34.39   67.02
5 -23.70  133.88
6 -18.06   13.84
7 -22.47  -68.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [494]:
hotel_df=ideal_weather
hotel_df["Hotel Name"] = ''
hotel_df

,index,City,Lat,Long,Max Temp,Humidity,Cloudiness (%),Wind Speed (m/s),Country,Date,Hotel Name
0,16,Zambezi,-13.54,23.10,292.77,33,0,1.42,ZM,1596041230,
1,210,Yulara,-25.24,130.99,283.15,25,0,3.10,AU,1596041268,
2,217,Santa Fe,-31.63,-60.70,288.15,27,0,0.89,AR,1596041269,
3,251,Port Keats,-14.25,129.55,289.94,30,0,4.23,AU,1596041276,
4,294,Panjāb,34.39,67.02,288.99,33,0,2.76,AF,1596041284,
5,383,Alice Springs,-23.70,133.88,278.15,32,0,2.10,AU,1596041093,
6,457,Opuwo,-18.06,13.84,293.41,24,0,4.06,NaN,1596041313,
7,557,Calama,-22.47,-68.93,292.15,1,0,1.00,CL,1596041283,

In [495]:
ideal_lat = hotel_df['Lat'].tolist()
ideal_long = hotel_df['Long'].tolist()
ideal_coordinates_list = list(zip(ideal_lat,ideal_long))
ideal_coordinates_list

[(-13.54, 23.1),
 (-25.24, 130.99),
 (-31.63, -60.7),
 (-14.25, 129.55),
 (34.39, 67.02),
 (-23.7, 133.88),
 (-18.06, 13.84),
 (-22.47, -68.93)]

In [496]:
ideal_coordinates_fixed=[item for t in ideal_coordinates_list for item in t]
ideal_coordinates_fixed[0:2]

[-13.54, 23.1]

In [497]:

# IDS = str(ideal_coordinates_list)

In [498]:
#create paramaters


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": '',
    "keyword": "hotel",
    "radius": 5000,
    "types": "hotel",
    "key": gkey
}
response = requests.get(base_url, params=params)
hotel_search=response.json()

# hotel_name=({hotel_search['results'][0]['name']})
# hotel_name

In [500]:
count1 = 0
count2 = 1


for index, row in hotel_df.iterrows():
  
    # get city name from df
    ideal_city = row['City']  
    coord1=ideal_coordinates_fixed[count1]
    coord2=ideal_coordinates_fixed[count2]
    count1 += 2
    count2 += 2
    
    params["location"] = str(coord1) + ',' + str(coord2)
    response = requests.get(base_url, params=params)
    hotel_search=response.json()
    try:
        print(f"The hotel closest to {ideal_city} is {hotel_search['results'][0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = hotel_search['results'][0]['name']

    except (KeyError, IndexError):
       
        print(f"No hotel found near {ideal_city}")
        pass
        


    print("------------")

The hotel closest to Zambezi is Royal Kutachika Lodge.
------------
The hotel closest to Yulara is Sails in the Desert.
------------
The hotel closest to Santa Fe is InterTower Hotel.
------------
The hotel closest to Port Keats is TDC Village (Hundred Man Camp).
------------
No hotel found near Panjāb
------------
The hotel closest to Alice Springs is DoubleTree by Hilton Hotel Alice Springs.
------------
The hotel closest to Opuwo is Opuwo Country Lodge.
------------
The hotel closest to Calama is Hotel Noi Borde Loa.
------------

In [501]:
hotel_df

,index,City,Lat,Long,Max Temp,Humidity,Cloudiness (%),Wind Speed (m/s),Country,Date,Hotel Name
0,16,Zambezi,-13.54,23.10,292.77,33,0,1.42,ZM,1596041230,Royal Kutachika Lodge
1,210,Yulara,-25.24,130.99,283.15,25,0,3.10,AU,1596041268,Sails in the Desert
2,217,Santa Fe,-31.63,-60.70,288.15,27,0,0.89,AR,1596041269,InterTower Hotel
3,251,Port Keats,-14.25,129.55,289.94,30,0,4.23,AU,1596041276,TDC Village (Hundred Man Camp)
4,294,Panjāb,34.39,67.02,288.99,33,0,2.76,AF,1596041284,
5,383,Alice Springs,-23.70,133.88,278.15,32,0,2.10,AU,1596041093,DoubleTree by Hilton Hotel Alice Springs
6,457,Opuwo,-18.06,13.84,293.41,24,0,4.06,NaN,1596041313,Opuwo Country Lodge
7,557,Calama,-22.47,-68.93,292.15,1,0,1.00,CL,1596041283,Hotel Noi Borde Loa

In [502]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_search = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [503]:
# Add marker layer ontop of heat map

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…